:root {
    --vermelho: #E5002C;
    --azul: #003D6D;
    --amarelo: #FFB236;
    --offwhite: #FFF6F0;
    --black: #181818;
}
* {
    font-family: "Poppins", sans-serif;
}
body {
    position: relative;
}
header {
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    z-index: 5;
}
.topo-info {
    width: 100%;
    padding: 5px 0px;
    background-color: var(--azul);
    color: var(--offwhite);
    font-size: 13px;
}
.topo-info-mobile {
    width: 100%;
    padding: 5px 0px;
    background-color: var(--azul);
    color: var(--offwhite);
    font-size: 13px;
    display: none;
}
.main-header {
    background-color: #FFF;
}
.area-header {
    width: 100%;
    padding: 15px 0 0 0;
    position: relative;
}
.header-top {
    width: 100%;
    display: flex;
    align-items: center;
}
.search-menu {
    margin-left: 40px;
    width: 100%;
    display: flex;
    height: 45px;
}
.input-search-menu {
    width: 100%;
    height: 45px;
    padding-left: 10px;
}
#btn-search-menu {
    min-width: 120px;
    height: 45px;
}
.btn-wpp-menu {
    margin-left: 10px;
    height: 45px;
}
#btn-wpp-menu {
    min-width: 120px;
    width: 100%;
    height: 45px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #359613;
    color: #FFF;
    border: 0;
    border-radius: 6px;
    font-weight: 700;
}
.header-bottom {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 10px 0 0 0;
}
.menu-desktop {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.menu-desktop .nav-desktop {
    display: flex;
    height: 100%;
    padding: 0;
    list-style: none;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}
.menu-desktop .nav-desktop .link-menu {
    position: relative;
    padding: 0 5px;
    text-decoration: none;
    min-width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--vermelho);
}
.menu-desktop .nav-desktop .link-menu::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--vermelho);
    transition: width 0.5s ease;
}
.menu-desktop .nav-desktop .link-menu li {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.menu-desktop .nav-desktop .link-menu:hover::after {
    width: 100%;
}
.submenu {
    position: absolute;
    bottom: 0;
    right: 0;
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 1320px;
    background-color: var(--vermelho);
    color: #FFF;
    display: flex;
    flex-direction: column;
    height: 250px;
    border-radius: 0 0 8px 8px;
    z-index: -5;
    transition: all 0.3s ease;
}
.submenu li {
    width: 100%;
    max-width: 300px;
    height: 45px;
}
.submenu .link-submenu {
    color: #FFF;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    text-decoration: none;
}
.submenu .link-submenu::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #FFF;
    transition: width 0.5s ease;
}
.submenu .link-submenu:hover::after {
    width: 100%;
}
.sandwith {
    display: none;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 28px;
    height: 3px;
    background-color: var(--azul);
    margin: 4px 0;
    transition: 0.4s;
}
.change .bar1 {
    transform: translate(0, 6px) rotate(-45deg);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
    transform: translate(0, -8px) rotate(45deg);
}
.side-menu {
    width: 100%;
    background-color: var(--vermelho);
    min-height: 460px;
    position: absolute;
    top: 65px;
    left: -110%;
    transition: all 0.3s ease;
    z-index: 15;
}
.open-side {
    left: 0;
}
.side-menu-nav {
    padding: 10px 0;
    list-style: none;
    margin: 0;
    background-color: var(--vermelho);
}
.side-menu-nav li {
    min-height: 45px;
    width: 100%;
}
.side-menu-nav a {
    min-height: 45px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    color: #FFF;
    text-decoration: none;
    border-bottom: 1px solid #d65959;
}
.side-submenu {
    background-color: #b80025;
    list-style: none;
    padding: 0;
    overflow: hidden;
    height: 0;
    transition: all 0.3s ease;
}
.open-sidemenu {
    height: 135px;
}

.main-section {
    position: relative;
    width: 100%;
}
.section-1 .swiper-1 {
    width: 100%;
    height: 420px;
    position: relative;
}
#area-video-bg {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.gradient-slider-bg {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-color: #00000060;
}
#area-video-bg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-slide {
    height: 400px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.main-slide h2 {
    color: #FFF;
    font-weight: 700;
    font-size: 48px;
}
.main-slide p {
    color: #FFF;
    font-size: 22px;
}
.main-slide a {
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--vermelho);
    color: #FFF;
    text-decoration: none;
    border-radius: 6px;
}
.swiper-button-next, .swiper-button-prev {
    color: var(--vermelho);
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 35px;
}
.swiper-pagination-bullet-active {
    background-color: var(--vermelho);
}
.topo-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-2 .topo-section h3 {
    color: var(--black);
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 700;
    margin: 0;
    white-space: nowrap;
}
.section-2 .topo-section .link-section {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: var(--vermelho);
    transition: 0.2s;
    font-weight: 600;
}
.section-2 .topo-section .link-section:hover {
    color: var(--azul);
}
.slider-categorias-home {
    width: 100%;
}
.card-slide {
    position: relative;
    height: 240px;
    padding: 15px;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.card-slide h5 {
    font-size: 18px;
    color: #FFF;
    font-weight: 700;
    position: relative;
    z-index: 3;
}
.btn-card {
    position: relative;
    z-index: 3;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    gap: 5px;
    align-items: center;
    text-decoration: none;
    color: var(--vermelho);
}
.img-destaque-card {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    object-fit: cover;
    z-index: 1;
}
.gradient-card-bg {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-color: #00000060;
    z-index: 2;
}
.section-3 {
    background-color: var(--vermelho);
}
.section-3 .topo-section h3 {
    color: var(--offwhite);
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 700;
    margin: 0;
    white-space: nowrap;
}
.section-3 .topo-section .link-section {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: var(--offwhite);
    transition: 0.2s;
    font-weight: 600;
}
.lista-ofertas-home {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.card-oferta {
    background-color: var(--offwhite);
    min-height: 400px;
    padding: 15px;
    width: 100%;
}
.img-oferta {
    position: relative;
    width: 100%;
    height: 220px;
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}
.img-oferta img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info-oferta {
    width: 100%;
}
.info-oferta h5 {
    font-size: 16px;
    font-weight: 600;
}
.info-oferta p {
    font-size: 13px;
    margin-bottom: 15px;
    min-height: 60px;
}
.link-oferta {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--azul);
    color: var(--offwhite);
    text-decoration: none;
    padding: 8px 15px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 4px;
}
.section-4 {
    width: 100%;
    background-color: var(--azul);
}
.section-4 .topo-section h3 {
    color: var(--amarelo);
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 700;
    margin: 0;
    white-space: nowrap;
}
.section-4 .topo-section .link-section {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: var(--amarelo);
    transition: 0.2s;
    font-weight: 600;
}
.sobre-home {
    width: 100%;
    display: flex;
}
.info-sobre-home {
    display: flex;
    font-size: 16px;
    flex-direction: column;
    justify-content: center;
    color: var(--offwhite);
}
.mascote-sobre-home {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/* RESPONSIVIDADE ============================== */
/* --------------------------------------------- */
@media (max-width: 1200px) {
    .mascote-sobre-home {
        justify-content: center;
    }
    .mascote-sobre-home img {
        height: 150px;
    }
}
@media (max-width: 991px) {
    .sobre-home {
        flex-direction: column;
    }
}
@media (max-width: 960px) {
    .logo-menu img {
        width: 120px;
    }
    .menu-desktop {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .header-top {
        justify-content: space-between;
    }
    .area-header {
        padding: 15px 0;
    }
    .header-bottom,
    .search-menu,
    .btn-wpp-menu {
        display: none;
    }
    .sandwith {
        display: inline-block;
    }
    .topo-info {
        display: none;
    }
    .topo-info-mobile {
        display: block;
    }
    .topo-section {
        flex-direction: column;
        gap: 10px;
    }
    .topo-section h3 {
        font-size: 18px;
    }
    .topo-section .link-section {
        font-size: 13px;
    }
    .col-oferta {
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .main-slide {
        padding: 0 15px;
        text-align: center;
    }
    .main-slide h2 {
        font-size: 32px;
        text-align: center;
    }
    .main-slide p {
        font-size: 14px;
    }
    .main-slide a {
        font-size: 14px;
    }
    .swiper-button-next:after, .swiper-button-prev:after {
        font-size: 25px;
        font-weight: 700;
    }
}
