:root {
    --vermelho: #E5002C;
    --azul: #003D6D;
    --amarelo: #FFB236;
    --offwhite: #FFF6F0;
    --black: #181818;
}
* {
    font-family: "Poppins", sans-serif;
}
body {
    overflow: hidden;
}
header {
    border-bottom: 1px solid #e5e5e5;
}
.topo-info {
    width: 100%;
    padding: 5px 0px;
    background-color: var(--azul);
    color: var(--offwhite);
    font-size: 13px;
}
.topo-info-mobile {
    width: 100%;
    padding: 5px 0px;
    background-color: var(--azul);
    color: var(--offwhite);
    font-size: 13px;
    display: none;
}
.main-header {
    background-color: #FFF;
}
.area-header {
    width: 100%;
    padding: 15px 0 0 0;
    position: relative;
}
.header-top {
    width: 100%;
    display: flex;
    align-items: center;
}
.search-menu {
    margin-left: 40px;
    width: 100%;
    display: flex;
    height: 45px;
}
.input-search-menu {
    width: 100%;
    height: 45px;
    padding-left: 10px;
}
#btn-search-menu {
    min-width: 120px;
    height: 45px;
}
.btn-wpp-menu {
    margin-left: 10px;
    height: 45px;
}
#btn-wpp-menu {
    min-width: 120px;
    width: 100%;
    height: 45px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #359613;
    color: #FFF;
    border: 0;
    border-radius: 6px;
    font-weight: 700;
}
.header-bottom {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 10px 0 0 0;
}
.menu-desktop {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.menu-desktop .nav-desktop {
    display: flex;
    height: 100%;
    padding: 0;
    list-style: none;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}
.menu-desktop .nav-desktop .link-menu {
    position: relative;
    padding: 0 5px;
    text-decoration: none;
    min-width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--vermelho);
}
.menu-desktop .nav-desktop .link-menu::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--vermelho);
    transition: width 0.5s ease;
}
.menu-desktop .nav-desktop .link-menu li {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.menu-desktop .nav-desktop .link-menu:hover::after {
    width: 100%;
}
.submenu {
    position: absolute;
    bottom: 0;
    right: 0;
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 1320px;
    background-color: var(--vermelho);
    color: #FFF;
    display: flex;
    flex-direction: column;
    height: 250px;
    border-radius: 0 0 8px 8px;
    z-index: -5;
    transition: all 0.3s ease;
}
.submenu li {
    width: 100%;
    max-width: 300px;
    height: 45px;
}
.submenu .link-submenu {
    color: #FFF;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    text-decoration: none;
}
.submenu .link-submenu::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #FFF;
    transition: width 0.5s ease;
}
.submenu .link-submenu:hover::after {
    width: 100%;
}
.sandwith {
    display: none;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 28px;
    height: 3px;
    background-color: var(--azul);
    margin: 4px 0;
    transition: 0.4s;
}
.change .bar1 {
    transform: translate(0, 6px) rotate(-45deg);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
    transform: translate(0, -8px) rotate(45deg);
}
.side-menu {
    width: 100%;
    background-color: var(--vermelho);
    height: -webkit-fill-available;
    position: absolute;
    top: 65px;
    left: -110%;
    transition: all 0.3s ease;
    z-index: 15;
}
.open-side {
    left: 0;
}
.side-menu-nav {
    padding: 10px 0;
    list-style: none;
    margin: 0;
}
.side-menu-nav li {
    min-height: 45px;
    width: 100%;
}
.side-menu-nav a {
    min-height: 45px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    color: #FFF;
    text-decoration: none;
    border-bottom: 1px solid #d65959;
}
.side-submenu {
    background-color: #b80025;
    list-style: none;
    padding: 0;
    overflow: hidden;
    height: 0;
    transition: all 0.3s ease;
}
.open-sidemenu {
    height: 135px;
}

.main-section {
    position: relative;
    width: 100%;
}
.section-1 .swiper {
    width: 100%;
    height: 500px;
}
.main-slide {
    height: 500px;
}
.swiper-button-next, .swiper-button-prev {
    color: var(--vermelho);
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 35px;
}
.swiper-pagination-bullet-active {
    background-color: var(--vermelho);
}
/* RESPONSIVIDADE ============================== */
/* --------------------------------------------- */
@media (max-width: 960px) {
    .logo-menu img {
        width: 120px;
    }
    .menu-desktop {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .header-top {
        justify-content: space-between;
    }
    .area-header {
        padding: 15px 0;
    }
    .header-bottom,
    .search-menu,
    .btn-wpp-menu {
        display: none;
    }
    .sandwith {
        display: inline-block;
    }
    .topo-info {
        display: none;
    }
    .topo-info-mobile {
        display: block;
    }
}
